@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');

/*
*{
    margin: 0;
    padding: 0;
}
*/

body{
    font-family: "Overpass", sans-serif;
    /*background-color: #fadcac;
    /*color: white;
    margin-left: 2%;
    margin-right: 2%;*/
    background-image: radial-gradient(black 1px, transparent 0.5px), 
        radial-gradient(black 1px, transparent 0.5px);
    background-color: #184050;
    background-position: 0 0, 30px 30px;
    background-size: 20px 20px;
    color: white;
}

li, a{
    font-family: "Overpass", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #ecf0f1;
    text-decoration: none;
}

header{
    top: 0;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#184050;
    position: fixed;
}

nav{
    position: center;
    width: 100vw;
}

li {
    list-style: none;
}

.nav_links{
    display: flex;
    padding: 0px;
    justify-content: space-around;
}
/* 
.nav_links li {
    
} */

.nav_links li a {
    transition: all 0.3 ease 0s;
}

.nav_links li a:hover {
    color: #0088a9
}

section {
    padding: 20px;
    display: flex;
    height: 100vh;
    margin-bottom: 10px;
    width: 100vw;
    text-align: justify;
    justify-content: center;
    align-items: center;
}

.introduction {
    background-image: url(/images/header-pic.jpg);
    background-size: 100%;
    background-position: 0em;
    background-attachment: fixed;
}

.introduction section {
    justify-content: space-around;
}

h1{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    color: #f0f0f0;
}
h3 {
    font-size: 1.5rem;
    text-align: center;
}


.biography{
    display: flex;
    justify-content: space-between;
}

.details{
    flex: 1;
    justify-content: space-around;
    color: #f0f0f0;
    /* padding-right: 1rem; */
}


.projects {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

footer a {
    display: flex;

} 

footer {
    position: fixed;
    display: flex;
    width: 100vw;
    size: 5rem;
    bottom: 0;
    text-align: center;
    padding: 0px;
    align-items: flex-end;
    background-color:#184050;
    

}

.contact_links {
    display: flex;
    padding: 0px;
    justify-content: space-between;
    bottom: 0;
    size: ;
}

span a { 
    display: flex;
    padding: 0px;
    justify-content: space-around;
}
